body{
	background-color: rgb(32, 37, 41);
    padding-left: 10%;
    padding-right: 10%;
    color:#ccc;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
	position:static;
    top:0;
    left:0;
    width:100%;
    padding: 5px 0 10px;
    overflow:auto; zoom: 1;
    background-color: rgb(32, 37, 41);
}
.Pitt{
    background-color:royalblue;
    color:gold;
    font-weight: 600;
    border-radius:2px;
}
#translator-div{
    padding-top:30px;
    padding-bottom:30px;
    display:flex;
}
#website-div{
    display:flex;
    padding-top:30px;
    padding-bottom:30px;
    align-items:center;
}
#website-text-div{
    padding-left:50px;
}
img {
    border-radius:10px;
}
#translator-text-div{
    padding-left:50px;
}
#projects-header{
    align-items:center;
    text-align:center;
    color:#fff;
}
#phone{
    text-align:center;
}
#email{
    text-align:center;
}
#noaa{
    display:flex;
    padding-top:30px;
    padding-bottom:30px;
    align-items:center;
}
#ight-bet{
    display:flex;
    padding-top:30px;
    padding-bottom:30px;
    align-items:center;
}
#contacts{
    margin-top:10%;
    margin-bottom:10%;
}
#ight-bet-text-div{
    padding-left:50px;
}
#dallas{
    border-radius:10px;
}
#ozmo-div{
    padding-top:50px;
    display:flex;
    align-items:center;
}
#corning-div{
    padding-top:50px;
    display:flex;
    align-items:center;
}
#corning-pic{
    border-radius:10px;
}
#corning-text-div{
    padding-left:50px;
}
#linked-in{
    display:flex;
    align-items:center;
    text-align:center;
    margin-left: 42%;
    margin-right:42%;
}
#linked-in-text{
    padding-left:15px;
}
#contacts{
    align-items:center;
}
#contact-link{
    font-size:xx-large;
}
#ozmo-pic{
    border-radius:10px;
}
#ozmo-text-div{
    padding-left:50px;
}
#noaa-div{
    padding-top:50px;
    display:flex;
    align-items:center;
}
#noaa-pic{
    border-radius:10px;
}
#noaa-text-div{
    padding-left:50px;
}
#work-experience{
    padding-top:25px;
    padding-bottom:25px;
    padding-left:40%;
    padding-right:40%;
}
@keyframes greeting-animation{
    from{
        padding-top:0px;
    }
    to{
        padding-top:5px;
    }
}
#H{
    margin-left:35%;
    animation-name: greeting-animation;
    animation-duration: .5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
#i{
    animation-name:greeting-animation;
    animation-duration:.5s;
    animation-delay:-.5s;
    animation-direction:alternate;
    animation-iteration-count:infinite;

}
#greeting-div{
    display:flex;
    padding-top:25px;
    text-align:center;
}
#last-div{
    padding-top:40px;
    display:flex;
}
#last-div-text{
    padding-left:50px;
    padding-right:50px;
}
#animation-div{
    display:flex;
    position:absolute;
    margin-left:30%;
}
#resume{
    width:100%;
}
#intro-sentence{
    padding-top:50px;
    padding-right:100px;
    padding-left:100px;
}
#greeting-div{
    display:table-column;
}
#intro-div{
    padding-top:10px;
    display:inline-flex;
}
#intro-pic{
    border-radius:10px;
}
#intro-text-div{
    padding-left:35%;
    text-align:center;
}

#middle-div{
    padding-top:40px;
}
#about-me-pic{
    border-radius:10px;
}
#about-me-text-div{
    padding-right:50px;
    align-items:center;
    text-align:center;
}
#middle-div{
    display:flex;
}
#nav{
	text-align:center;
}

#nav li {
    display:inline;
    margin: 0 0 0 5px;
}

#nav li a {
    padding: 5px 15px;
    font-weight: bold;
	font-size: 25px;
    color: #ccc;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#nav li a:hover, #nav li a:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
}


